@model IEnumerable<Lab1_TranNguyenDat.Models.Loaihanghoa>
@{
    Layout = "_Layout";
}

<h2>Thông tin các loai hang hoa</h2>

<p>
    <a href="@Url.Action("themLoai")">Thêm mới</a>
</p>

<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Ma loai</th>
        <th>Tên loai</th>
        <th>Tac vu</th>
    </tr>
    @{
        //foreach (var item in ViewBag.nsx)
        foreach(var item in Model)
        {
            <tr>
                <td>@item.Maloai</td>
                <td>@item.Tenloai</td>
                <td>
                    <a href="@Url.Action("suaLHH","Loaihanghoa",new { id = item.Maloai
                        })">Sửa</a> |
                    <a href="@Url.Action("xoaLHH","Loaihanghoa",new { id = item.Maloai
                        })">Xóa</a>
                </td>
            </tr>
        }
    }
</table>
